@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div id="mensagemInicial"class="text-center">
    <h1 class="display-4">Bem-vindo a Nossa Loja</h1>
    <p class="lead">Aqui você pode fazer seus pedidos de forma fácil e rápida.</p>
</div>

