@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/usuario.css" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4">Bem-vindo, Aqui você tem acesso Usuario</h1>
</div>
<a class="btn btn-secondary" href="/User/Index">Menu anterior</a>
<div class="p-5">
    <div class="border border-light border-3 rounded">
        <div class="container">
            <div class="p-5">
                <div class="row">
                    <div class="col-8">
                        <h6>PRODUTOS DISPONIVEIS:</h6>
                    </div>
                </div>
                <hr />
                <div class="p-5 rounded shadow-sm" id="divTabelaProdutos">
                </div>
            </div>
        </div>
    </div>
</div>

    <h3>Produtos no Pedido</h3>
    <table id="tabelaCarrinho" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div>
        <h4>Total: R$ <span id="valorTotal">0.00</span></h4>
        <button class="btnSalvar">Salvar Pedido</button>
    </div>


    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/js/usuario.js" asp-append-version="true"></script>




